body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-92px;
  width:608px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:659px;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:60px;
  width:608px;
  height:659px;
}
#u318_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
