body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-60px;
  width:677px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:408px;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:70px;
  width:677px;
  height:408px;
}
#u316_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
