body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:590px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:638px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:590px;
  height:638px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:51px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:51px;
  width:588px;
  height:51px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:64px;
  width:148px;
  height:27px;
  font-size:20px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:145px;
  width:57px;
  height:20px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:145px;
  width:300px;
  height:30px;
  color:#CCCCCC;
  text-align:left;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:288px;
  word-wrap:break-word;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:205px;
  width:57px;
  height:20px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:245px;
  width:134px;
  height:16px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u158_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:208px;
  width:43px;
  height:20px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:465px;
  width:57px;
  height:20px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:460px;
  width:101px;
  height:30px;
  color:#000000;
  text-align:left;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:561px;
  width:43px;
  height:20px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:556px;
  width:101px;
  height:30px;
  color:#000000;
  text-align:left;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:568px;
  width:12px;
  height:7px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 103, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:613px;
  width:109px;
  height:30px;
  color:#FFFFFF;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:72px;
  width:15px;
  height:15px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:245px;
  width:134px;
  height:16px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u167_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:245px;
  width:134px;
  height:16px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u168_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:287px;
  width:37px;
  height:20px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:325px;
  width:134px;
  height:16px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u170_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:325px;
  width:134px;
  height:16px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u171_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:325px;
  width:134px;
  height:16px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u172_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:360px;
  width:29px;
  height:20px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:404px;
  width:134px;
  height:16px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u174_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:404px;
  width:134px;
  height:16px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u175_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:404px;
  width:134px;
  height:16px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u176_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:511px;
  width:57px;
  height:20px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:506px;
  width:101px;
  height:30px;
  color:#000000;
  text-align:left;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:210px;
  width:20px;
  height:20px;
  font-size:8px;
  color:#FFFFFF;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:361px;
  width:20px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:287px;
  width:20px;
  height:20px;
  font-size:14px;
  color:#0000FF;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
