body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-80px;
  width:630px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:644px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  line-height:28px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:96px;
  width:630px;
  height:644px;
  font-size:18px;
  line-height:28px;
}
#u315_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  word-wrap:break-word;
}
